.blog post image {
width: 50px; /* Set the desired width in pixels */
height: 50px; /* Set the desired height in pixels */
}

body {
    font-family: Arial, sans-serif;
    background-color: silver;
    color: #333;
}
